@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
  /* font-family: 'Righteous', cursive; */
  font-family: 'Poppins', sans-serif;
  /* color: #d14f4f; */
  line-height: 1.7;
  font-size: 19px;
  background-color: #222222;
  /* background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox= '0 0 60 60' xmlns='http' "); */
}

/* navbar */

.navbar {
  background-color: rgba(22, 22, 22, 0.8);
  display: flex;
  justify-content: center;
}

.link {
  color: #efefef;
  display: inline-block;
  padding: 3px 20px;
  font-size: 16px;
  text-decoration: none;
  transition: 0.3s ease all;
}

.link:hover {
  color: #f59494;
  transform: scale(1.1);
}

/* Nasa Photo */

.nasa-photo {
  display: flex;
  padding: 50px 17px 50px;
  margin: 0 auto;
  max-height: 100%;
  flex-direction: column;
  width:27em;
  background-color: #dadada;
}

.nasa-photo img {
  width: 100%;
  /* margin-right: 50px; */
  object-fit: contain;
  max-height: 80vh;
}

.nasa-photo h1{
  margin-top: 0;
  margin-bottom: 0;
}

.nasa-photo .date {
  margin-top: 0;
  /* margin-bottom: 30px; */
  font-size: .85em;
  margin: 0 0 7px 0;
}

.nasa-photo .explanation{
  color: rgb(0, 0, 0);
  line-height: 20px;
  font-size: 15.3px;
  margin: 0 0 20px 0;
}


@media (max-width: 1280px) {
  .nasa-photo {
    display: block;
  }

  .nasa-photo img {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }
}

.home{
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.home-link{
  font-size: 40px;
  background: #f59494;
  display: inline-block;
  padding: 40px 80px;
  color: #fff;
  border-radius: 50%;
  text-decoration: none;
  transition: 0.3s ease all;
  text-transform: uppercase;
}

.home-link:hover {
  border-radius: 5px;
  background: #e77171;
}






.context{
  background-color: white;
  padding: 17px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
}

.context h1{
  font-size: .85em;
  font-weight: 900;
  float: left;
  margin: 0 20px 0 0;
}

.context p{
  float: left;
  font-weight: 550;
}

.counter{
  margin: 0 16px 25px 0;
  font-size: .85rem;
  border: 1px solid #dcdcdc;
  color:rgb(0, 0, 0);
  background-color: #ffffff;
  border-radius: 13%;
  padding: 10px 8px;
  font-weight: 500;
  box-shadow: -1px 1px 1px 0px #a5a5a5;
}